/*  reset */

/* Reset End */

/* main style */
body {
  background-color: #0d0d11;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  min-height: 100vh;
  background-color: #1e1e27;
}

.form__post {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-id {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 25px;
  min-width: 100px;
  background: rgba(129, 129, 139, 0.2);
  text-align: center;
}

.input-id:focus {
  background: rgba(214, 214, 219, 0.2);
}

.button-id {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #3d96f4;
  min-height: 25px;
  min-width: 100px;
  font-size: 16px;
}

.button-comment {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #3d96f4;
  min-height: 25px;
  min-width: 100px;
  font-size: 16px;
  margin-bottom: 20px;
}

.button-id:hover {
  background-color: #60adff;
}

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.post__content p {
  margin-bottom: 10px;
  color: wheat;
}

.comments__content {
  background-color: #0d0d11;
  border-radius: 10px;
  padding: 10px;
}
